.navbar-top {
  position: absolute !important;
  top: 0;
  padding-left: 15%;
  margin-top: 3%;
  width: 50vw !important;
  color: white;
  z-index: 100;
}

.navbar-top-item {
  position: relative;
  font-family: 'Comfortaa';
  font-style: normal;
  color: white;
}