.landing-page-top {
  background: black;
  z-index: -1;
  height: 100vh;
}

.headline {
  margin-top: 30.67%;
  margin-left: 19.58%;
}

.headline h1 { 
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: bold;
  font-size: 13vh;
  color: #FFAB40;
}

.sub-headline {
  margin-top: -6vh;
  margin-left: 20.58%;
}

.sub-headline h3 {
  font-family: 'Montserrat';
  font-style: normal;
  color:white;
  font-weight: 500;
  font-size: 4vh;
}

.leftside-home {
  background: #2489A5;
  height: 100vh;
}

.rightside-home {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  position: relative;
  z-index: -1;
  height: 100vh;
}

.rightside-home-bg {
  background-image: url('/bg-1.jpeg');
  background-size: cover;
  opacity: 0.6;
  height: 100%;
  z-index: 1;
}