@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");

body {
  font-family: 'Montserrat', sans-serif !important;
}

.app {
  background: white;
  z-index: 0;
  position: relative;
}

p {
  margin-bottom: 0 !important;
}

/* @media only screen and (max-width: 100px) {
  .navbar-top{
    display: none;
  }
} */