@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

p {
  font-size: 16px;
}

.app {
  background: white;
  z-index: -1;
  position: relative;
}
.landing-page-top {
  background: black;
  z-index: -1;
  height: 100vh;
}
.headline{
  margin-top: 30.67%;
  margin-left: 19.58%;
}
.headline h1{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: bold;
  font-size: 13vh;
  color: #FFAB40;
}
.sub-headline{
  margin-top: -6vh;
  margin-left: 20.58%;
}
.sub-headline h3{
  font-family: 'Montserrat';
  font-style: normal;
  color:white;
  font-weight: 500;
  font-size: 4vh;
}
.leftside-home{
  background: #2489A5;
  height: 100vh;
}
.rightside-home{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  position: relative;
  z-index: -1;
  height: 100vh;
}
.rightside-home-bg{
  background-image: url('/bg-1.jpeg');
  background-size: cover;
  opacity: 0.6;
  height: 100%;
  z-index: 1;
}
.navbar-top{
  position: absolute !important;
  top: 0;
  margin-left: 10%;
  margin-top: 3%;
  width: 50vw !important;
  color: white;
  z-index: 100;
}
.navbar-top-item{
  position: relative;
  font-family: 'Comfortaa';
  font-style: normal;
  color: white;
}

.language{
  top:0;
  position: absolute;
  z-index: 100;
  margin-top: 40vh;
  margin-left: 45vw;
}

.language-item{
  color: white;
}

.language-vl{
  background: #2489A5;
  height: 5vw;
  width: 0.2vw;
  margin-left: 1.2vw;
  z-index: 500;
}

.featured-workshop {
  padding: 4em 6em;
  font-family: 'Montserrat';
}
.featured-workshop h1{
  font-weight: bold;
  padding-bottom: 7px;
  border-bottom: solid 5px #FFAB40;
  width: 3.5em;
}
.featured-workshop .type {
  color: #2489A5;
}

/* @media only screen and (max-width: 100px) {
  .navbar-top{
    display: none;
  }
} */